.vjee-rte {
  position: relative;
}

.vjee-rte__toolbar {
  font-family: sans-serif;
  width: 244px;
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 11px 0px #c3c3c3;
  border-radius: 5px;
  padding: 4px 2px;
  box-sizing: border-box;
}

.vjee-rte__toolbar--hidden {
  display: none;
}

.vjee-rte__toolbar__buttons {
  display: flex;
}

.vjee-rte__toolbar__button,
.vjee-rte__toolbar__input {
  appearance: none;
  border-radius: 3px;
  padding: 0 5px;
  height: 30px;
  border: 0;
}

.vjee-rte__toolbar__button {
  background-color: transparent;
  width: 44px;
  margin: 0 2px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: #444;
  transition: 20ms fill, 20ms background-color;
}

.vjee-rte__toolbar__button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.vjee-rte__toolbar__button.active {
  background-color: #a8d6ff;
}

.vjee-rte__toolbar__input {
  padding: 0 4px;
  margin: 4px 2px 0;
  background-color: #e8e8e8;
  font-size: 14px;
  outline: none;
}

.vjee-rte__tooltip {
  position: fixed;
  padding: 10px;
  background-color: red;
  color: white;
}

.vjee-rte a {
  position: relative;
}

.vjee-rte a::before {
  font-family: sans-serif;
  content: attr(href);
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 4px 10px;
  background-color: #444;
  color: white;
  border-radius: 3px;
  font-size: 13px;
  pointer-events: none;
}

.vjee-rte a:hover::before {
  display: block;
}
